<div class="bg bg-close" (click)="toggleMenu()"></div>

<div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
</div> 

<nav class="nav nav-close">   
    <!-- <div class="logo">
        <img src="../../../assets/img/logo-light.webp" alt="Logo" height="100" routerLink="/">
    </div> -->
    
    <div class="src">
        <p><i class="fa-solid fa-chevron-down"></i><i class="fa-solid fa-code" style="color: pink;"></i>src</p>
        <div class="app">
            <p><i class="fa-solid fa-chevron-down"></i><i class="fa-solid fa-grip" style="color: pink;"></i>app</p>
            <div class="menu">
                <p><i class="fa-solid fa-chevron-down"></i><i class="fa-solid fa-folder-open" style="color: pink;"></i>Menú</p>
                <ul>
                    <li><a routerLink="/"><i class="fa-solid fa-house"></i>Inicio</a></li>
                    <li><a routerLink="/about"><i class="fa-solid fa-user"></i>Sobre mí</a></li>
                    <li><a routerLink="/portfolio"><i class="fa-solid fa-table"></i>Portfolio</a></li>
                    <li><a routerLink="/skills"><i class="fa-solid fa-star"></i>Herramientas</a></li>
                </ul>
            </div>
            <div class="socials">
                <p><i class="fa-solid fa-chevron-down"></i><i class="fa-solid fa-folder-open" style="color: pink;"></i>Social</p>
                <ul>
                    <li><a href="https://github.com/99pmore" target="_blank"><i class="fa-brands fa-github"></i>GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/pablomorenom/" target="_blank"><i class="fa-brands fa-linkedin-in"></i>LinkedIn</a></li>
                    <li><a href="https://www.behance.net/pablomorenomartin" target="_blank"><i class="fa-brands fa-behance"></i>Behance</a></li>
                    <li><a href="https://quill-spark-3af.notion.site/CV-Pablo-Moreno-Mart-n-68686053b8e94ec2bab3244ed01616a6" target="_blank"><i class="fa-solid fa-n"></i>Notion</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
