<div class="bg bg-close" (click)="toggleMenu()"></div>

<div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
</div> 

<nav class="nav nav-close">   
    <div class="logo">
        <img src="../../../assets/img/logo-light.webp" alt="Logo" height="100" routerLink="/">
    </div>
    <div class="menu">
        <ul>
            <li><a routerLink="/"><i class="fa-solid fa-house"></i><span class="title">Inicio</span></a></li>
            <li><a routerLink="/about"><i class="fa-solid fa-user"></i><span class="title">Sobre mí</span></a></li>
            <li><a routerLink="/skills"><i class="fa-solid fa-star"></i><span class="title">Aptitudes</span></a></li>
            <li><a routerLink="/portfolio"><i class="fa-solid fa-table"></i><span class="title">Portfolio</span></a></li>
            <!-- <li><a routerLink="/contact"><i class="fa-solid fa-address-book"></i><span class="title">Contacto</span></a></li> -->
        </ul>
    </div>
    <div class="socials">
        <ul>
            <li><a href="https://github.com/99pmore" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/pablomorenom/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="https://www.behance.net/pablomorenomartin" target="_blank"><i class="fa-brands fa-behance"></i></a></li>
            <li><a href="https://quill-spark-3af.notion.site/CV-Pablo-Moreno-Mart-n-68686053b8e94ec2bab3244ed01616a6" target="_blank"><i class="fa-solid fa-n"></i></a></li>
        </ul>
    </div>
</nav>
