<div class="card" *ngIf="school" [ngClass]="{'is-phone': isPhone}">
    <p>{{ school.date }}</p>
    <h2>{{ school.title }}</h2>
    <h3>{{ school.location }}</h3>
    <img [src]="school.logo" alt="Logo" height="120">
</div>

<div class="card" *ngIf="company" [ngClass]="{'is-phone': isPhone}">
    <p>{{ company.date }}</p>
    <h2>{{ company.title }}</h2>
    <h3>{{ company.location }}</h3>
    <img [src]="company.logo" alt="Logo" height="120">
</div>

<div class="card" *ngIf="certification" [ngClass]="{'is-phone': isPhone}">
    <p *ngIf="certification.date">{{ certification.date }}</p>
    <h2>{{ certification.title }}</h2>
    <h3>{{ certification.location }}</h3>
    <img [src]="certification.logo" alt="Logo" height="120">
</div>
