@import "../../../styles.scss";

.card {
    background-color: $grey-sand;
    color: white;
    border-radius: 25px;
    box-shadow: 0 30px 30px -20px $grey-sand;
    cursor: default;

    height: 500px;
    width: 300px;
    padding: 40px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    transition: all 0.3s;

    img {
        object-fit: contain;
        filter: brightness(200);
    }

    @include clear-siblings();
}