@import "../../../styles.scss";

footer {
    @include glassmorphism();
    min-height: 180px;

    padding: 40px;
    margin-top: 40px;
    margin-left: 255px;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;

    position: sticky;
    z-index: 60;

    .comment-tag {
        font-size: 1rem;
        color: #00c2cb;
    }

    a {
        text-decoration: none;
        color: white;

        &:hover {
            text-shadow: 0 0 2px #00c2cb;
        }
    }

    .first-third {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;

        .location {
            color: white;
        }
    }

    .second-third {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        align-self: center;

        p {
            color: white;
            text-align: center;
        }
    }

    .third-third {
        width: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;

        div {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;

            .comment-tag {
                text-align: end;
            }
        }
    }
}

.is-mobile {
    min-height: 500px;
    margin-left: 0;

    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0;

    .third-third {
        justify-content: space-between;

        .links {
            align-items: flex-start;

            .comment-tag {
                text-align: start;
            }
        }
    }
}