<footer [ngClass]="{'is-mobile': isMobile}">

    <div class="first-third">
        <div class="contact">
            <h3>Contacto</h3>
            <a href="mailto:morenomartin.pablo@gmail.com">morenomartin.pablo@gmail.com</a>
        </div>
        <div class="location">
            <h3>Ubicación</h3>
            <p> Comunidad de Madrid (España)</p>
        </div>
    </div>

    <div class="second-third">
        <div class="logo">
            <img src="../../../assets/img/logo-light.webp" alt="Logo" height="80">
        </div>
        <div class="name">
            <p>© Pablo Moreno Martín | Todos los derechos reservados</p>
        </div>
    </div>

    <div class="third-third">
        <div class="links">
            <h3>Este sitio</h3>
            <a routerLink="/">Inicio</a>
            <a routerLink="/about">Sobre mí</a>
            <a routerLink="/skills">Competencias</a>
            <a routerLink="/portfolio">Portfolio</a>
        </div>
        <div class="socials">
            <h3>RRSS</h3>
            <a href="https://github.com/99pmore" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/pablomorenom/" target="_blank">LinkedIn</a>
            <a href="https://www.behance.net/pablomorenomartin" target="_blank">Behance</a>
            <a href="https://quill-spark-3af.notion.site/CV-Pablo-Moreno-Mart-n-68686053b8e94ec2bab3244ed01616a6" target="_blank">Notion</a>
        </div>
    </div>

</footer>
