@import "../../../styles.scss";

header {
    display: flex;

    .main-header {
        height: 100vh;
        padding: 5% 10%;
    
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        position: absolute;
        left: 200px;
    
        @include create-tag();
    
        .name {
            cursor: default;
            color: transparent;
            text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5), -1px -1px 1px rgba(0, 0, 0, 0.3);
    
            padding: 40px 0 40px 60px;
    
            display: flex;
            justify-content: space-between;
            gap: 40px;
    
            h1 {
                font-size: 10rem;
                font-weight: normal;
            }
    
            h2 {
                font-size: 2.5rem;
                font-weight: normal;
                text-align: end;
    
                display: flex;
                align-items: flex-end;
            }
        }
    }
}