@import "../../../styles.scss";

header {
    height: 100vh;
    padding: 5% 10%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-left: 200px;

    .name {
        cursor: default;
        color: transparent;
        text-shadow: 6px 6px 6px rgba(255, 255, 255, 0.15), -5px -5px 5px rgba(0, 0, 0, 0.025);

        animation: engrave-title 0.6s linear forwards;
        animation-delay: 0.6s;

        width: 100%;
        padding: 40px 0 40px 60px;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        flex-wrap: wrap;
        gap: 40px;

        h1 {
            font-size: 8.5rem;
            font-weight: 500;

            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        h2 {
            font-size: 2rem;
            font-weight: 500;
            text-align: end;
        }
    }
}

.is-phone {
    padding: 60px 20px;
    margin-left: 0;

    .open-tag, .close-tag {
        font-size: 1.25rem;
    }

    .name {
        padding: 30px 0;

        h1 {
            font-size: 4.25rem;
        }

        h2 {
            font-size: 1rem;
        }
    }
}

.is-laptop {
    .name {
        h1 {
            font-size: 6.5rem;
        }
    }
}

@keyframes engrave-title {
    0% {
        text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.30), -4px -4px 4px rgba(0, 0, 0, 0.05);
    }
    33% {
        text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.45), -3px -3px 3px rgba(0, 0, 0, 0.075);
    }
    66% {
        text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.60), -2px -2px 2px rgba(0, 0, 0, 0.095);
    }
    100% {
        text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.75), -1px -1px 1px rgba(0, 0, 0, 0.15);
    }
}