<div [ngSwitch]="device">
    <div *ngSwitchCase="'phone'">
        <app-menu></app-menu>
    </div>
    <div *ngSwitchCase="'laptop'">
        <app-s-menu></app-s-menu>
    </div>
</div>

<header [ngClass]="{'is-phone': isPhone}">
    <p class="open-tag">Soy</p>
    <div class="name">
        <h1 data-aos="zoom-out-right" data-aos-duration="950" data-aos-once="true">
            <span data-aos="fade-right" data-aos-duration="750" data-aos-once="true" data-aos-delay="150">Pablo</span>
            <span data-aos="fade-left" data-aos-duration="950" data-aos-once="true" data-aos-delay="150">Moreno</span>
            <span data-aos="fade-right" data-aos-duration="750" data-aos-once="true" data-aos-delay="150">Martín</span>
        </h1>
        <h2 data-aos="fade-left" data-aos-duration="750" data-aos-once="true" data-aos-delay="500">Desarrollador web</h2>
    </div>
    <p class="close-tag">Soy</p>
</header>
