@import "../../../styles.scss";

main {
    padding: 5% 10%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-left: 200px;

    section {
        section {
            padding: 40px 0 40px 60px;

            div {
                padding: 40px 0 40px 60px;

                .comment-tag {
                    font-family: $font-tag; 
                    font-size: 1.5rem;
                    letter-spacing: 6px;
                    color: $sand;
                    cursor: default;
            
                    &::before {
                        content: '<!--';
                    }
            
                    &::after {
                        content: '-->';
                    }
                }

                ul {
                    list-style: none;
                    padding: 40px 0;

                    display: grid;
                    justify-content: start;

                    grid-template-columns: repeat(auto-fit, 80px);
                    grid-auto-rows: 160px;
                    gap: 30px;

                    // display: flex;
                    // flex-wrap: wrap;
                    // gap: 30px;
                    // justify-content: flex-start;

                    @include blur-siblings();
                }
            }
        }
    }
}