<main>
    <section>
        <p class="open-tag">Competencias</p>

        <section>
            <p class="open-tag">Lenguajes</p>
            
            <div>
                <p class="comment-tag">De marcado y de programación</p>
                <ul>
                    <li><img src="../../../assets/img/logos/html-light.png" alt="Logo HTML" height="40">HTML</li>
                    <li><img src="../../../assets/img/logos/css-light.png" alt="Logo CSS" height="40">CSS</li>
                    <li><img src="../../../assets/img/logos/sass-light.png" alt="Logo SASS" height="40">SASS</li>
                    <li><img src="../../../assets/img/logos/js-light.png" alt="Logo JS" height="40">JavaScript</li>
                    <li><img src="../../../assets/img/logos/ts-light.png" alt="Logo TS" height="40">TypeScript</li>
                    <li><img src="../../../assets/img/logos/java-light.png" alt="Logo Java" height="40">Java</li>
                    <li><img src="../../../assets/img/logos/swift-light.png" alt="Logo Swift" height="40">Swift</li>
                    <li><img src="../../../assets/img/logos/c-light.png" alt="Logo C" height="40">C</li>
                </ul>
            </div>

            <p class="close-tag">/Lenguajes</p>
        </section>

        <section>
            <p class="open-tag">Herramientas</p>
            
            <div>
                <p class="comment-tag">Frameworks, librerías, bases de datos, etc.</p>
                <ul>
                    <li><img src="../../../assets/img/logos/angular-light.png" alt="Logo Angular" height="40">Angular</li>
                    <li><img src="../../../assets/img/logos/bootstrap-light.png" alt="Logo Bootstrap" height="40">Bootstrap</li>
                    <li><img src="../../../assets/img/logos/tailwind-light.png" alt="Logo Tailwind" height="40">Tailwind</li>
                    <li><img src="../../../assets/img/logos/spring-light.png" alt="Logo Spring Boot" height="40">Spring Boot</li>
                    <li><img src="../../../assets/img/logos/mysql-light.png" alt="Logo MySQL" height="40">MySQL</li>
                    <li><img src="../../../assets/img/logos/mongo-light.png" alt="Logo Mongo" height="40">Mongo</li>
                    <li><img src="../../../assets/img/logos/git-light.png" alt="Logo Git" height="40">Git</li>
                </ul>
            </div>

            <p class="close-tag">/Herramientas</p>
        </section>

        <section>
            <p class="open-tag">Entornos y programas</p>
            
            <div>
                <!-- <p class="comment-tag">Frameworks, librerías, bases de datos, etc.</p> -->
                <ul>
                    <li><img src="../../../assets/img/logos/visual-light.png" alt="Logo Visual Studio Code" height="40">Visual Studio Code</li>
                    <li><img src="../../../assets/img/logos/xcode-light.png" alt="Logo Xcode" height="40">Xcode</li>
                    <li><img src="../../../assets/img/logos/androidstudio-light.png" alt="Logo Android Studio" height="40">Android Studio</li>
                    <li><img src="../../../assets/img/logos/postman-light.png" alt="Logo PostMan" height="40">PostMan</li>
                    <li><img src="../../../assets/img/logos/netbeans-light.png" alt="Logo NetBeans" height="40">NetBeans</li>
                    <li><img src="../../../assets/img/logos/justinmind-light.png" alt="Logo Just in Mind" height="40">Just in Mind</li>
                </ul>
            </div>

            <p class="close-tag">/Entornos y programas</p>
        </section>

        <p class="close-tag">/Competencias</p>
    </section>
</main>
