<main>
    <section>
        <p class="open-tag">Competencias</p>

        <section>
            <p class="open-tag">Lenguajes</p>
            
            <div>
                <p class="comment-tag">De marcado y de programación</p>
                <ul class="parent" data-aos="fade-left" data-aos-duration="750" data-aos-offset="250" data-aos-once="true">
                    <app-skill-item *ngFor="let language of languages" [language]="language" (mouseenter)="blurSiblings()" (mouseleave)="clearSiblings()" class="child"></app-skill-item>
                </ul>
            </div>

            <p class="close-tag">/Lenguajes</p>
        </section>

        <section>
            <p class="open-tag">Herramientas</p>
            
            <div>
                <p class="comment-tag">Frameworks, librerías, bases de datos, etc.</p>
                <ul class="parent" data-aos="fade-right" data-aos-duration="750" data-aos-offset="250" data-aos-once="true">
                    <app-skill-item *ngFor="let tool of tools" [tool]="tool" (mouseenter)="blurSiblings()" (mouseleave)="clearSiblings()" class="child"></app-skill-item>
                </ul>
            </div>

            <p class="close-tag">/Herramientas</p>
        </section>

        <section>
            <p class="open-tag">Entornos y programas</p>
            
            <div>
                <ul class="parent" data-aos="fade-left" data-aos-duration="750" data-aos-offset="250" data-aos-once="true">
                    <app-skill-item *ngFor="let software of softwares" [software]="software" (mouseenter)="blurSiblings()" (mouseleave)="clearSiblings()" class="child"></app-skill-item>
                </ul>
            </div>

            <p class="close-tag">/Entornos y programas</p>
        </section>

        <p class="close-tag">/Competencias</p>
    </section>
</main>
