@import "../../../styles.scss";

main {
    background-color: white;
    padding: 5% 10%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .msg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 100px;

        padding: 0 100px;

        cursor: default;

        .code {
            h1 {
                color: $aqua;
                text-align: center;
            }
        
            h2 {
                color: $grey-sand;
                text-align: center;
            }
        }

        .return {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 50px;

            p {
                font-size: 1.5rem;
            }

            button {
                cursor: pointer;
                font-family: $font-text;
                font-size: 1rem;
            
                @include glassmorphism();
                background-color: rgba(2, 118, 131, 0.25);
                border: 1px solid rgba(2, 51, 62, 0.3);
                color: $ocean;
                overflow: hidden;
            
                width: 120px;
                height: 60px;
            
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
            
                transition: linear 0.3s;
            
                &:is(:hover,:focus) {
                    color: white;
                    transform: translateY(-10px);
                }
                  
                &::after {
                    background-color: rgba(2, 51, 62, 0.25);
                    content: '';
            
                    position: absolute;
                    inset: 0;
                    z-index: -1;
            
                    transform-origin: left;
                    transform: scaleX(0);
            
                    transition: linear 0.3s;
                }
                  
                &:is(:hover, :focus)::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}

.is-mobile {
    padding: 60px 20px;
    margin-left: 0;

    flex-direction: column;

    .img {
        img {
            height: 200px;
        }
    }

    .msg {
        gap: 50px;

        padding: 0;

        .return {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 25px;

            p {
                font-size: 1rem;
            }
        }
    }
}