@import "../../../styles.scss";

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    img {
        border-radius: 50%;
        
        width: 100px;
        height: 100px;

        transition: transform 0.3s;

        &:hover {
            transform: translateY(-20px);
            box-shadow: 0 0 16px #00c2cbbf;
        }
    }

    h2 {
        font-size: 1.25rem;
        font-weight: 500;
    }
}