@import "../../../styles.scss";

main {
    padding: 5% 10%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 200px;

    margin-left: 200px;

    .projects-grid, .logos {
        width: 100%;
    }

    .projects-grid {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-wrap: wrap;
        gap: 60px;
    }

    .logos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        gap: 100px;

        h2 {
            font-size: 2rem;
            text-align: center;
        }

        .logo {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            flex-wrap: wrap;
            gap: 60px;
        }
    }
}

.is-phone {
    padding: 60px 20px;
    margin-left: 0;

    .open-tag, .close-tag {
        font-size: 1.25rem;
    }
}