@import "../../../styles.scss";

main {
    padding: 5% 10%;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    margin-left: 200px;

    section {
        width: 100%;

        .projects-grid, .logos {
            padding: 40px 0 40px 60px;
            width: 100%;
        }
    
        .projects-grid {
            display: flex;
            justify-content: flex-start;
            align-items: center;
    
            flex-wrap: wrap;
            gap: 60px;
        }
    
        .logos {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            
            gap: 100px;
    
            .logo {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
    
                flex-wrap: wrap;
                gap: 60px;
            }
        }
    }
}

.is-phone {
    padding: 60px 20px;
    margin-left: 0;

    .open-tag, .close-tag {
        font-size: 1.25rem;
    }

    section {
        .projects-grid, .logos {
            padding: 30px 0;

            justify-content: center;
            align-items: center;
        }
    }
}