<div [ngSwitch]="device">
    <div *ngSwitchCase="'pc'">
        <app-menu></app-menu>
    </div>
    <div *ngSwitchCase="'mobile'">
        <app-s-menu></app-s-menu>
    </div>
</div>

<main [ngClass]="{'is-mobile': isMobile}">
    <section>
        <p class="open-tag">Portfolio</p>

        <section class="projects-grid">
            <p class="comment-tag">Todos los proyectos están disponibles en Github</p>
            <div class="projects">
                <app-project-card *ngFor="let project of projects" [project]="project" data-aos="fade-down" data-aos-duration="750" data-aos-offset="50" data-aos-once="true" data-aos-delay="250"></app-project-card>
            </div>
        </section>
        
        <!-- <section class="logos">
            <p class="comment-tag">Como hobbie, también hago logos</p>
            <div class="logo">
                <app-portfolio-logo *ngFor="let logo of logos" [logo]="logo" data-aos="fade-down" data-aos-duration="750" data-aos-offset="50" data-aos-once="true"></app-portfolio-logo>
            </div>
        </section> -->

        <p class="close-tag">Portfolio</p>
    </section>
</main>
