<div [ngSwitch]="device">
    <div *ngSwitchCase="'pc'">
        <app-menu></app-menu>
    </div>
    <div *ngSwitchCase="'mobile'">
        <app-s-menu></app-s-menu>
    </div>
</div>

<main [ngClass]="{'is-mobile': isMobile}">
    <section>
        <p class="open-tag">Sobre mí</p>

        <section id="about-me">
            <div class="info-container" data-aos="zoom-out-right" data-aos-duration="950" data-aos-offset="250" data-aos-once="true">
                <p>
                    Graduado en Ingeniería Informática y estudiante de Máster en Desarrollo Web. Mi objetivo actual es seguir
                    formándome y desarrollarme en esta área, concretamente en el Desarrollo Frontend,
                    buscando oportunidades para aplicar mis habilidades en un entorno profesional.            
                </p>
                <p>
                    Durante mi último año, he adquirido conocimientos y experiencia en las tecnologías más demandadas en el mercado.
                </p>
                <p>
                    Realicé un periodo de prácticas en desarrollo de movilidad iOS en la empresa INETUM durante siete
                    meses.
                </p>
                <p>
                    Sobre mis aptitudes puedo decir que tengo experiencia trabajando en equipo, capacidad de aprendizaje
                    rápido y que sé trabajar bajo presión. También me considero una persona creativa y perfeccionista,
                    responsable y empática.
                </p>
                <p>
                    Entre mis intereses personales se encuentran el diseño gráfico en un nivel aficionado, los viajes,
                    la lectura y las series de televisión.
                </p>
                <div>
                    <p class="open-tag">Currículum Vitae</p>
                    <div class="button-container" data-aos="zoom-out-right" data-aos-duration="950" data-aos-offset="50" data-aos-once="true" data-aos-delay="250">
                        <app-button (click)="downloadFile()" [text]="'Descargar'"></app-button>
                        <app-button (click)="goToNotion()" [text]="'Notion'"></app-button>
                    </div>
                    <p class="close-tag">Currículum Vitae</p>
                </div>
            </div>
            <div class="profile-img" data-aos="zoom-out-left" data-aos-duration="750" data-aos-offset="250" data-aos-once="true"></div>
        </section>

        <p class="close-tag">Sobre mí</p>
    </section>
</main>