@import "../../../styles.scss";

main {
    padding: 5% 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 200px;

    section {
        @include create-tag();

        .about-me {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            div:first-child {
                font-size: 1.1rem;
                border-radius: 50px;
    
                padding: 40px 0 40px 60px;
    
                display: flex;
                flex-direction: column;
                gap: 30px;
            }

            div:last-child {
                img {
                    border-radius: 25px;
                    opacity: 0.65;

                    aspect-ratio: 4/3;
                    object-fit: cover;
                }
            }
        }

        .education, .experience {
            padding: 40px 0 40px 60px;
            
            .edu-content, .exp-content {
                padding: 40px 0 40px 60px;

                display: flex;
                align-items: center;
                gap: 30px;

                .edu-card, .exp-card {
                    background-color: $dark-grey;
                    color: white;
                    border-radius: 25px;
                    box-shadow: 0 30px 30px -20px #575757;

                    width: 300px;
                    padding: 40px;

                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    gap: 20px;

                    transition: all 0.3s;

                    &:hover {
                        box-shadow: 0 40px 40px -20px #666666;
                        transform: translateY(-20px);
                    }

                    img {
                        object-fit: contain;
                    }
                }
            }
        }
    }
}