<main>
    <section>
        <p class="open-tag">Sobre mí</p>

        <div class="about-me">
            <div>
                <p>
                    Soy Graduado en Ingeniería Informática por la Universidad Politécnica de Madrid y actualmente
                    estudio el
                    Máster en Desarrollo Web FullStack de la Escuela Internacional de Posgrados. Paralelamente, también
                    me
                    gusta realizar cursos para complementar mi formación en el desarrollo web.
                </p>
                <p>
                    Realicé un periodo de prácticas en desarrollo de movilidad iOS en la empresa INETUM durante siete
                    meses.
                </p>
                <p>
                    Sobre mis aptitudes puedo decir que tengo experiencia trabajando en equipo, capacidad de aprendizaje
                    rápido y que sé trabajar bajo presión. También me considero una persona creativa y perfeccionista,
                    responsable y empática.
                </p>
                <p>
                    Entre mis intereses personales se encuentran el diseño gráfico en un nivel aficionado, los viajes,
                    leer y
                    las series de televisión.
                </p>
            </div>
            <div>
                <img src="../../../assets/img/me.png" onmouseover="this.src='../../../assets/img/profile.jpg'"
                    onmouseout="this.src='../../../assets/img/me.png'" alt="Foto de mí" height="400">
            </div>
        </div>

        <div class="education">
            <p class="open-tag">Formación</p>
            <div class="edu-content">
                <div class="edu-card">
                    <p>may. 2022 - actualidad</p>
                    <h2>Máster en Desarrollo Web FullStack</h2>
                    <h3>Escuela Internacional de Posgrados y UEMC</h3>
                    <img src="../../../assets/img/eip-light.png" alt="Logo EIP" height="120">
                </div>
                <div class="edu-card">
                    <p>sep. 2017 - ene. 2022</p>
                    <h2>Grado en Ingeniería Informática</h2>
                    <h3>Universidad Politécnica de Madrid</h3>
                    <img src="../../../assets/img/upm-light.png" alt="Logo UPM" height="120">
                </div>
                <div class="edu-card">
                    <p>2015 - 2017</p>
                    <h2>Bachillerato tecnológico</h2>
                    <h3>CEU San Pablo Montepríncipe</h3>
                    <img src="../../../assets/img/ceu-light.png" alt="Logo CEU" height="120">
                </div>
            </div>
            <p class="close-tag">/Formación</p>
        </div>

        <div class="experience">
            <p class="open-tag">Experiencia</p>
            <div class="exp-content">
                <div class="exp-card">
                    <p>sep. 2021 - mar. 2022</p>
                    <h2>Prácticas en Desarrollo Móvil</h2>
                    <h3>INETUM España</h3>
                    <img src="../../../assets/img/inetum-light.png" alt="Logo INETUM" height="80">
                </div>
            </div>
            <p class="close-tag">/Experiencia</p>
        </div>

        <div class="certifications">
            <p class="open-tag">Certificaciones</p>
            <div class="cer-content">
                <div class="cer-card">
                    <h2>IT Specialist - JavaScript</h2>
                    <h3>Certiport - A Pearson VUE Business</h3>
                    <img src="../../../assets/img/it-light.png" alt="Logo IT Specialist" height="80">
                </div>
                <div class="cer-card">
                    <h2>Curso de Introducción al
                        Desarrollo Web II certificado
                        por el IEI de la Universidad
                        de Alicante</h2>
                    <h3>Google Actívate</h3>
                    <img src="../../../assets/img/google-light.png" alt="Logo Google Actívate" height="80">
                </div>
                <div class="cer-card">
                    <h2>Curso de Introducción al
                        Desarrollo Web I certificado
                        por el IEI de la Universidad
                        de Alicante</h2>
                    <h3>Google Actívate</h3>
                    <img src="../../../assets/img/google-light.png" alt="Logo Google Actívate" height="80">
                </div>
                <div class="cer-card">
                    <h2>B2 First Certificate in English</h2>
                    <h3>Cambridge University</h3>
                    <img src="../../../assets/img/cambridge-light.svg" alt="Logo Cambridge" height="80">
                </div>
            </div>
            <p class="close-tag">/Certificaciones</p>
        </div>

        <div class="languages">
            <p class="open-tag">Idiomas</p>
            <div class="lang-content">
                <div class="lang">
                    <h2>Español</h2>
                    <h3>Nativo</h3>
                </div>
                <div class="lang">
                    <h2>Inglés</h2>
                    <h3>Nivel B2</h3>
                </div>
            </div>
            <p class="close-tag">/Idiomas</p>
        </div>

        <p class="close-tag">/Sobre mí</p>
    </section>
</main>