@import "../../../styles.scss";

main {
    padding: 5% 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 200px;

    section {
        #about-me {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;

            .info-container {
                font-size: 1.1rem;
                border-radius: 50px;
    
                display: flex;
                flex-direction: column;
                gap: 30px;

                div {
                    .button-container {
                        padding: 40px 0 40px 60px;
                        
                        button {
                            cursor: pointer;
                            font-family: $font-text;
                            font-size: 1rem;
    
                            background: none;
                            border: solid 1px $aqua;
                            border-radius: 25px;
                            overflow: hidden;
    
                            width: 120px;
                            height: 60px;
    
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
    
                            transition: linear 0.3s;
    
                            &:is(:hover,:focus) {
                                color: white;
                                border: none;
                                box-shadow: 0 40px 40px -20px $grey-sand;
                                transform: translateY(-10px);
                            }
                              
                            &::after {
                                content: '';
                                border-radius: 24px;
        
                                position: absolute;
                                inset: 0;
                                z-index: -1;
        
                                transform-origin: left;
                                transform: scaleX(0);
        
                                transition: linear 0.3s;
                            }
                              
                            &:is(:hover, :focus)::after {
                                transform: scaleX(1);
                                animation: change-colors 0.9s ease-in forwards;
                            }
                        }
                    }
                }
            }

            .img-container {
                height: 400px;

                aspect-ratio: 4/3;
                object-fit: cover;

                #profile-img {
                    background: url(../../../assets/img/me.png) no-repeat center / cover;
                    border-radius: 25px;
                    opacity: 0.25;

                    width: 100%;
                    height: 100%;

                    transition: all 0.3s;

                    &:hover {
                        background-image: url(../../../assets/img/profile.jpg);
                        box-shadow: 0 40px 40px -20px $grey-sand;
                        transform: translateY(-20px);
                        opacity: 0.85;
                    }
                }
            }
        }

        section {
            padding: 40px 0 40px 60px;
            
            .content {
                padding: 40px 0 40px 60px;

                display: grid;
                justify-items: start;
                align-items: center;

                grid-template-columns: repeat(auto-fit, 300px);
                grid-auto-rows: 500px;
                gap: 30px;

                @include blur-siblings();
            }

            .lang-content {
                padding: 40px 0 40px 60px;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 30px;

                @include blur-siblings();

                .lang {
                    background-color: $grey-sand;
                    color: white;
                    border-radius: 25px;
                    box-shadow: 0 30px 30px -20px $grey-sand;
                    cursor: default;

                    height: 150px;
                    width: 200px;
                    padding: 40px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 30px;

                    transition: all 0.3s;

                    &:hover {
                        box-shadow: 0 40px 40px -20px $grey-sand;
                        transform: translateY(-20px);
                        filter: blur(0);
                        opacity: 1;
                
                        animation: change-colors 0.6s ease-in forwards;
                    }
                }
            }
        }
    }
}