<div [ngSwitch]="device">
    <div *ngSwitchCase="'pc'">
        <app-menu></app-menu>
    </div>
    <div *ngSwitchCase="'mobile'">
        <app-s-menu></app-s-menu>
    </div>
</div>

<main [ngClass]="{'is-mobile': isMobile}">
    <section>
        <p class="open-tag">Sobre mí</p>

        <section id="about-me">
            <div class="info-container" data-aos="zoom-out-right" data-aos-duration="950" data-aos-offset="250" data-aos-once="true">
                <p>
                    Soy Graduado en Ingeniería Informática por la Universidad Politécnica de Madrid y actualmente
                    estudio el
                    Máster en Desarrollo Web FullStack de la Escuela Internacional de Posgrados. Paralelamente, también
                    me
                    gusta realizar cursos para complementar mi formación en el desarrollo web.
                </p>
                <p>
                    Realicé un periodo de prácticas en desarrollo de movilidad iOS en la empresa INETUM durante siete
                    meses.
                </p>
                <p>
                    Sobre mis aptitudes puedo decir que tengo experiencia trabajando en equipo, capacidad de aprendizaje
                    rápido y que sé trabajar bajo presión. También me considero una persona creativa y perfeccionista,
                    responsable y empática.
                </p>
                <p>
                    Entre mis intereses personales se encuentran el diseño gráfico en un nivel aficionado, los viajes,
                    leer y
                    las series de televisión.
                </p>
                <div>
                    <p class="open-tag">Currículum Vitae</p>
                    <div class="button-container" data-aos="zoom-out-right" data-aos-duration="950" data-aos-offset="250" data-aos-once="true" data-aos-delay="500">
                        <app-button (click)="downloadFile()" [text]="'Descargar'"></app-button>
                        <app-button (click)="goToNotion()" [text]="'Notion'"></app-button>
                    </div>
                    <p class="close-tag">Currículum Vitae</p>
                </div>
            </div>
            <div id="profile-img" data-aos="zoom-out-left" data-aos-duration="750" data-aos-offset="250" data-aos-once="true"></div>
        </section>

        <section>
            <p class="open-tag">Formación</p>
            <div class="content parent" data-aos="fade-left" data-aos-duration="750" data-aos-offset="250" data-aos-once="true">
                <app-card *ngFor="let school of schools" [school]="school" (mouseenter)="blurSiblings()" (mouseleave)="clearSiblings()" class="child"></app-card>
            </div>
            <p class="close-tag">Formación</p>
        </section>

        <section>
            <p class="open-tag">Experiencia</p>
            <div class="content parent" data-aos="fade-right" data-aos-duration="750" data-aos-offset="250" data-aos-once="true">
                <app-card *ngFor="let company of companies" [company]="company" (mouseenter)="blurSiblings()" (mouseleave)="clearSiblings()" class="child"></app-card>
            </div>
            <p class="close-tag">Experiencia</p>
        </section>

        <section>
            <p class="open-tag">Certificaciones y cursos</p>
            <div class="content parent" data-aos="fade-left" data-aos-duration="750" data-aos-offset="250" data-aos-once="true">
                <app-card *ngFor="let certification of certifications" [certification]="certification" (mouseenter)="blurSiblings()" (mouseleave)="clearSiblings()" class="child"></app-card>
            </div>
            <p class="close-tag">Certificaciones y cursos</p>
        </section>

        <section>
            <p class="open-tag">Idiomas</p>
            <div class="lang-content parent" data-aos="fade-right" data-aos-duration="750" data-aos-once="true">
                <div class="lang child" (mouseenter)="blurSiblings()" (mouseleave)="clearSiblings()">
                    <h2>Español</h2>
                    <h3>Nativo</h3>
                </div>
                <div class="lang child" (mouseenter)="blurSiblings()" (mouseleave)="clearSiblings()">
                    <h2>Inglés</h2>
                    <h3>Nivel B2</h3>
                </div>
            </div>
            <p class="close-tag">Idiomas</p>
        </section>

        <p class="close-tag">Sobre mí</p>
    </section>
</main>