@import "../../../styles.scss";

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    text-align: center;

    transition: all 0.3s;

    img {
        @include glassmorphism();
        border-radius: 25px;

        padding: 20px;

        width: 80px;
        height: 80px;
        object-fit: contain;

        transition: all 0.3s;

        @include clear-siblings();

        &:hover {
            box-shadow: 0 0 16px rgba(255, 192, 203, 0.75);
        }
    }
}