$font-tag: 'La Belle Aurore', cursive;
$font-text: 'Montserrat', sans-serif;

$dark-grey: #333333;

// Beach palette
$sand: #E7D2CF;
$grey-sand: #C7CECB;
$turquoise: #6CBEBF;
$aqua: #027683;
$ocean: #02333E;