/* You can add global styles to this file, and also import other style files */

// F O N T S

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');



// V A R I A B L E S

@import './variables';


// M I X I N S

@import './mixins';


// S T Y L E S

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #4242a8;
    background-attachment: fixed;
    color: $dark-grey;

    font-family: $font-text;

    position: relative;

    @include create-tag();
    @include create-comment-tag();

    &::-webkit-scrollbar {
        background: #4242a8;
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255, 192, 203, 0.75);
        border-radius: 6px;

        &:hover {
            background: pink;
        }
    }
}
