/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

$font-tag: 'La Belle Aurore', cursive;

$antique: #fff5e8;
$tile: #9d432c;