<nav>
    <div class="logo">
        <img src="../../../assets/img/logo-light.webp" alt="Logo" height="120" routerLink="/">
    </div>
    <div class="menu">
        <ul>
            <li><a title="Inicio" routerLink="/"><i class="fa-solid fa-house"></i></a></li>
            <li><a title="Sobre mí" routerLink="/about"><i class="fa-solid fa-user"></i></a></li>
            <!-- <li><a title="Competencias" routerLink="/skills"><i class="fa-solid fa-laptop-code"></i></a></li> -->
            <li><a title="Competencias" routerLink="/skills"><i class="fa-solid fa-star"></i></a></li>
            <!-- <li><a title="Portfolio" routerLink="/portfolio"><i class="fa-solid fa-folder"></i></a></li> -->
            <li><a title="Portfolio" routerLink="/portfolio"><i class="fa-solid fa-table"></i></a></li>
            <li><a title="Contacto" routerLink="/contact"><i class="fa-solid fa-address-book"></i></a></li>
        </ul>
    </div>
</nav>
