<nav>
    <div class="logo">
        <img src="../../../assets/img/logo-light.webp" alt="Logo" height="120" routerLink="/">
    </div>
    <div class="menu">
        <ul>
            <li><a routerLink="/"><i class="fa-solid fa-house"></i></a><span class="title">Inicio</span></li>
            <li><a routerLink="/about"><i class="fa-solid fa-user"></i></a><span class="title">Sobre mí</span></li>
            <li><a routerLink="/skills"><i class="fa-solid fa-star"></i></a><span class="title">Competencias</span></li>
            <li><a routerLink="/portfolio"><i class="fa-solid fa-table"></i></a><span class="title">Portfolio</span></li>
        </ul>
    </div>
    <div class="socials">
        <ul>
            <li><a href="https://github.com/99pmore" target="_blank"><i class="fa-brands fa-github"></i></a><span class="title">GitHub</span></li>
            <li><a href="https://www.linkedin.com/in/pablomorenom/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a><span class="title">LinkedIn</span></li>
            <li><a href="https://www.behance.net/pablomorenomartin" target="_blank"><i class="fa-brands fa-behance"></i></a><span class="title">Behance</span></li>
            <li><a href="https://quill-spark-3af.notion.site/CV-Pablo-Moreno-Mart-n-68686053b8e94ec2bab3244ed01616a6" target="_blank"><i class="fa-solid fa-n"></i></a><span class="title">Notion</span></li>
        </ul>
    </div>
</nav>
