@import "../../../styles.scss";

nav {
    background-color: $dark-grey;
    color: white;
    box-shadow: 0 0 40px $dark-grey;

    width: 200px;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    position: fixed;

    .logo {
        cursor: pointer;

        img {
            padding: 10px;
            transition: all 0.3s;

            &:hover {
                border-radius: 50px;
                background: $dark-grey;
                box-shadow: inset 20px 20px 60px #2b2b2b,
                        inset -20px -20px 60px #3b3b3b;
            }
        }
    }

    .menu {
        border-radius: 50px;
        background: $dark-grey;
        box-shadow: inset 20px 20px 60px #2b2b2b,
                inset -20px -20px 60px #3b3b3b;
        width: 80%;

        padding: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            height: 100%;
            list-style: none;

            display: grid;
            grid-template-columns: repeat(2, 50px);
            grid-template-rows: repeat(3, 50px);
            gap: 20PX;

            justify-items: stretch;
            align-items: stretch;

            li {
                border-radius: 20px;
                background: #e0e0e0;
                box-shadow: inset 9px 9px 18px #acacac,
                            inset -9px -9px 18px #ffffff;
                width: 100%;

                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                transition: all 0.3s;

                &:hover {
                    background: #e0e0e0;
                    box-shadow: inset 20px 20px 30px #aaaaaa,
                                inset -20px -20px 30px #ffffff;

                    span {
                        visibility: visible;
                    }
                }

                a {
                    text-decoration: none;
                    color: $dark-grey;

                    width: 100%;
                    height: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    transition: transform 0.3s;

                    i {
                        color: $tile;
                    }
                }

                span {
                    visibility: hidden;
                    background-color: #9d432c9c;
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 10px;

                    position: absolute;
                    top: 25%;
                    left: 110%;
                    z-index: 1;

                    &::after {
                        content: "";

                        border-width: 5px;
                        border-style: solid;
                        border-color: transparent #9d432c9c transparent transparent;

                        margin-top: -5px;

                        position: absolute;
                        top: 50%;
                        right: 100%;
                    }
                }
            }
        }
    }
}